.apppointment__header {
    color: white;
    text-align: center;
    
}

.apppointment {
    width: 80%;
    max-width: 100%;
    text-align: center;
}

.apppointment form {
    margin-bottom: 5rem;
}

.table-container{
    width: 100%;
    max-width: 100%;
}

.form-container{
    width: 100%;
    background: #000;}