.apppointment__header {
    color: white;
    text-align: center;
}

.apppointment {

    padding-top: 49px;
    width: 80%;
    max-width: 100%;
    text-align: center;
}

@media (max-width: 768px){
    .apppointment {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
}