.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;

}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
  color: #2D3081;
}

.form-control input,
.form-control textarea {
  width: 95%;
  font: inherit;
  border: 1px solid #ADADAD;
  background: #fff;
  border-radius: 7px;
  padding: 10px 10px;
  font-size: 18px;
  resize: none;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: #fff;
  border-color: #510077;
  resize: none;
}

.form-control--invalid label,
.form-control--invalid p {
  color: #DF2935;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: #DF2935;
  background: #ffd1d1;
}