.main-header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26); */
    border-bottom: 2px solid #2D3081;
    padding: 0 1rem;
    z-index: 5;
  }
  
  main {
    margin-top: 7rem;
  }
  
  @media (min-width: 768px) {
    .main-header {
      justify-content: space-between;
    }
  }