.option{
    width: 96%;
    font: inherit;
    text-align: left;
    border: 1px solid #ADADAD;
    background: #fff;
    border-radius: 7px;
    padding: 10px 10px;
    font-size: 18px;
    resize: none;
}
.label{
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
    color: #2D3081;
}